$black: #000000;
$blue: #3da2dc;
$crimson: #96255c;
$darkBlue: #004461;
$darkGrey: #cacaca;
$extraBlue: #2dafe6;
$green: #71bc51;
$darkGreen: #62a545;
$grey: #e5e5e5;
$lightBlue: #f5faff;
$lightGreen: #e3f2dc;
$lightGrey: #f8f8f8;
$lightRed: #ffefe9;
$orange: #ffa12e;
$pauschal: #7d79b1;
$red: #e74502;
$violett: #7d79b1;
$white: #ffffff;

//font color
.fontBlack {
  color: $black;
}
.fontBlue {
  color: $blue;
}
.fontCrimson {
  color: $crimson;
}
.fontDarkBlue {
  color: $darkBlue;
}
.fontDarkGrey {
  color: $darkGrey;
}
.fontExtraBlue {
  color: $extraBlue;
}
.fontGreen {
  color: $green;
}
.fontGrey {
  color: $grey;
}
.fontLightBlue {
  color: $lightBlue;
}
.fontLightGreen {
  color: $lightGreen;
}
.fontLightGrey {
  color: $lightGrey;
}
.fontLightRed {
  color: $lightRed;
}
.fontOrange {
  color: $orange;
}
.fontPauschal {
  color: $pauschal;
}
.fontRed {
  color: $red;
}
.fontViolett {
  color: $violett;
}
.fontWhite {
  color: $white;
}

//background-color
.black {
  background-color: $black;
}
.blue {
  background-color: $blue;
}
.crimson {
  background-color: $crimson;
}
.darkBlue {
  background-color: $darkBlue;
}
.darkGrey {
  background-color: $darkGrey;
}
.extraBlue {
  background-color: $extraBlue;
}
.green {
  background-color: $green;
}
.grey {
  background-color: $grey;
}
.lightBlue {
  background-color: $lightBlue;
}
.lightGreen {
  background-color: $lightGreen;
}
.lightGrey {
  background-color: $lightGrey;
}
.lightRed {
  background-color: $lightRed;
}
.orange {
  background-color: $orange;
}
.pauschal {
  background-color: $pauschal;
}
.red {
  background-color: $red;
}
.violett {
  background-color: $violett;
}
.white {
  background-color: $white;
}
